@mixin home-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-home {
      .grimiore-header-background {
        background: mat-color($primary);
      }

      .grimiore-header-headline {
        color: mat-color($primary, default-contrast);
      }

      .grimiore-header-start {
        color: mat-color($primary, default-contrast);
      }

      .grimiore-homepage-row {
        color: mat-color($foreground, secondary-text);
      }
    }
  }